.popper--search-mobile {
  width: 100%;
  border-radius: 0px;
  box-shadow: 5px 5px 5px rgb(68 68 68 / 20%);
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(0px, 48px, 0px) !important;
}
.container--search-mobile {
  border-radius: 0px;
  border: none;
  border-top: 1px solid #cacaca;
}
.container--search-mobile
  :global(.vtex-store-components-3-x-searchBarContainer) {
  max-width: none;
}
.search-mobile {
  overflow: visible;
}
.menu-search-mobile {
  overflow: visible;
}
