.buttonText--add-to-cart-summary {
    font-size: 0px;
    font-family: "Raleway-Bold";
    text-transform: initial;
}

.buttonText--add-to-cart-summary::before {
    content: '';
    width: 22px;
    height: 22px;
    background-image: url(assets/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.buttonText--pdp-cart-button {
    font-size: 16px;
    font-family: "Raleway-Bold";
    text-transform: initial;
    color: #ffffff;
    padding: 10px 0;
}