@font-face {
    font-family: "Raleway-Black";
    src: url(assets/fonts/Raleway-Black.ttf);
}

@font-face {
    font-family: "Raleway-BlackItalic";
    src: url(assets/fonts/Raleway-BlackItalic.ttf);
}

@font-face {
    font-family: "Raleway-Bold";
    src: url(assets/fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Raleway-BoldItalic";
    src: url(assets/fonts/Raleway-BoldItalic.ttf);
}

@font-face {
    font-family: "Raleway-ExtraBold";
    src: url(assets/fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: "Raleway-ExtraBoldItalic";
    src: url(assets/fonts/Raleway-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: "Raleway-ExtraLight";
    src: url(assets/fonts/Raleway-ExtraLight.ttf);
}

@font-face {
    font-family: "Raleway-ExtraLightItalic";
    src: url(assets/fonts/Raleway-ExtraLightItalic.ttf);
}

@font-face {
    font-family: "Raleway-Italic";
    src: url(assets/fonts/Raleway-Italic.ttf);
}

@font-face {
    font-family: "Raleway-Light";
    src: url(assets/fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: "Raleway-LightItalic";
    src: url(assets/fonts/Raleway-LightItalic.ttf);
}

@font-face {
    font-family: "Raleway-Medium";
    src: url(assets/fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: "Raleway-MediumItalic";
    src: url(assets/fonts/Raleway-MediumItalic.ttf);
}

@font-face {
    font-family: "Raleway-Regular";
    src: url(assets/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url(assets/fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: "Raleway-SemiBoldItalic";
    src: url(assets/fonts/Raleway-SemiBoldItalic.ttf);
}

@font-face {
    font-family: "Raleway-Thin";
    src: url(assets/fonts/Raleway-Thin.ttf);
}

@font-face {
    font-family: "Raleway-ThinItalic";
    src: url(assets/fonts/Raleway-ThinItalic.ttf);
}